@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --cor00:#ecd6c4;
    --cor01:#2f2325; 
    --cor02:#8e5d52;
    --cor03:#FFF2E7;
    --fonte-titulo:'Righteous', sans-serif;
    --fonte-texto: 'Sarala', sans-serif;
}

body{
    font-size: 100%;
    background-image: linear-gradient( 68.15deg , var(--cor01) 16.62%, var(--cor02) 85.61% );
 }

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    height: 72px;
}

.cabecalho-menu{
    display:flex;
    gap:32px;
}

.cabecalho-menu-item{
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.24);
    font-family: var(--fonte-texto);
    color:var(--cor03);
    font-weight: 400;
    font-size: 18px;
    padding:5px;
    border-radius: 10px;
}

.cabecalho-menu-item:hover{
    background-color: rgba(223, 201, 183, 0.384);
    transition: 0.4s;
   
}


.conteudo{
    margin-bottom:48px;
    border-top: 0.4px solid var(--cor03);
}

.conteudo-principal{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display:flex;
    flex-direction: column;
    gap:32px;
}

.conteudo-principal-escrito-titulo{
    color:var(--cor03);
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size:64px;
}

.conteudo-principal-escrito-subtitulo{
  font-family: var(--fonte-texto);
  color:var(--cor03);
  font-weight: 400;
  font-size:24px;
}
.conteudo-principal-escrito-botao{
    border:none;
    background-color: var(--cor00);
    width: 180px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.24);
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 24px;
}
.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236,214,196,0.53);
    transition: 0.4s
}

.conteudo-principal-imagem{
    height:430px;
}

.conteudo-secundario{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
}

.conteudo-secundario-titulo{
    padding-top:48px;
    border-top: solid 0.4px white;
    color:var(--cor03);
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
   color:var(--cor03);
   font-family: var(--fonte-texto);
   font-weight: 300;
   font-size:18px;
}

.rodape{
    border-top: 0.4px solid var(--cor03);
    padding:32px;
   

}

.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}