@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
   color: burlywood;
   background-color: rgb(0, 0, 0);
}
h2 {
    color:darkred;
}
p{
    text-align: justify;
}