@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family:  'Montserrat', sans-serif;
    color:#4A4A4A;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 37px;

}

h1{
    color:#00335B;
    font-size: 56px;
    background-color: aliceblue;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
    
   
} 

p{
  text-align: justify;
  font-size: 16px;
  font-weight: normal;
  padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
}
h2{
    color:#4A4A4A;
    font-size: 2em;
    font-weight: 500;
}

ol{
    color:#4A4A4A;
    font-size: 2em;
}
strong{
    color:#363636;
}
a{
    color:blue;
}
#final{
    font-weight: bold;
    
}
img{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
  
}