@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:white;
}
h1{
    background-color:#FA860D;
    color:#00F0CF;
}
h2{
    background-color:#DEB10B  ;
}